body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ff6347, #3498db); /* Kombinasi linear gradient merah dan biru */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.semua {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    margin: auto; /* Mengatur margin secara otomatis untuk memposisikan konten di tengah */
    max-width: 800px; /* Opsi: Batasi lebar maksimum konten agar tidak terlalu lebar */
}


.fotoprofil {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 0px;
    border: 5px solid #ffffff; /* Warna border */
    transition: transform 0.3s ease-in-out;
}

.potoprofil:hover {
    transform: scale(1.1); /* Efek zoom saat dihover */
}

.Pembukaan {
    text-align: center;
}

.Saya1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #ffffff; /* Warna judul */
}

.Saya2 {
    color: #ffffff; /* Warna teks */
    font-size: 18px;
    margin-bottom: 20px;
}

.paragraf1,
.paragraf2 {
    color: #ffffff; /* Warna teks paragraf */
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0px;
}

.footer {
    background-color: #ff6347(255, 255, 255, 0.8);
    color: #333333;
    padding: 20px;
    text-align: center;
    margin-top: 0px; /* Atur margin-top untuk memberikan ruang antara konten dan footer */
}

.container-footer {
    max-width: 600px;
    margin: 0 auto;
}

.social-icons a {
    color: #333333; /* Warna ikon sosial media */
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #ff6347; /* Warna ikon saat dihover */
}
