body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background.jpg'); /* Kombinasi linear gradient dan gambar latar belakang */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; /* Warna teks */
}

.container {
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

h1 {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    background-color: #3498db; /* Warna latar belakang tombol */
    color: #ffffff;
    font-size: 18px;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: transform 0.3s, background-color 0.3s;
}

.button:hover {
    background-color: #2980b9; /* Warna latar belakang tombol saat dihover */
    transform: scale(1.1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
